.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
}

.column img {
  margin-top: 8px;
}

.gif-image {
  position: relative;
  width: 480px;
  height: 360px;
  margin-left: 10px;
  z-index: 1;
}

.overlay {
  width: 500px;
  height: 360px;
  position: absolute;
  z-index: 2;
}

.gridContainer {
  width: auto;
  height: auto;
}
